{% extends "base.html" %}
{% block title %}Form{% endblock title%}

{% block content %}

<form class='form' method='POST' action="{% if action_url %}{{ action_url }}{% endif %}">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">제출</button>
</form>


{% endblock content %}




<form method='POST'>{% csrf_token %}
	<input type='text' name='my_title' placeholder='your title'/>
	<input type='submit' value='save'/>
</form>





<form action='http://www.google.com/search' method='GET' target="_blank">
	<input type='text' name='q' placeholder='your search'/>
	<input type='submit' value='save'/>
</form>





<form method="POST">
	{% csrf_token %}
	{{ form.as_table }}
	<button type="submit">submit</button>
	<!--<input type='submit' value='Save'>-->
</form>

