{% extends "base.html" %}
{% block title %}List{% endblock title%}

{% load static %}
{% block content %}
{% include "lead/search_form.html" %}
{% spaceless %}
{% for object in object_list %}
	{% if object.post_publication == True %}

		{% if object.post_thumbnail %}
		<a href="{% url 'lead:postdetail' object.pk %}">
			<img src="{{ object.post_thumbnail.url }}" width="500px", height="500px"/>
		</a>
		{% endif %}<br/>
		<h1>{{ object.post_title|linebreaks }}</h1>
		{{ object.post_preview|linebreaks }}
		<p>{{ object.post_registered_by }} | {{ object.post_exposed_date }} 
		<!--<a href="{% url 'lead:postdetail' object.pk %}">View</a></p>-->
		<hr>
	<br/>
	<br/>
	{% endif %}
	
	{% empty %}
		{% if request.GET.q %}
			<p>일치하는 정보가 존재하지 않습니다.</p> 
		{% else %}
			<p>아무 게시물이 존재하지 않습니다.</p>
		{% endif %}

{% endfor %}
{% endspaceless %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
{% endblock content %}
