{% extends "base.html" %}
{% block title %}Detail{% endblock title%}

{% block content %}

<a href="{% url 'lead:postlist' %}">뒤로가기</a>
<h1>{{ object.post_title }}</h1>
<p>{{ object.post_type }}</p>
By {{ object.post_registered_by }} | {{ object.post_created_at }}<br/><br/>
{{ object.post_body|safe }}<br /><br />



{% endblock content %}


