<form  method='GET' action='{% url "lead:postlist" %}'>
	<div class="form-group">
		<input type='text' name='q' placeholder="단어나 문장을 입력" value='{{ request.GET.q }}' />
	</div>
	<input  type='submit' value="검색" />	
</form>
