{% extends "admin/base_site.html"%}
{% block content %}
{% load static %}

<head>
	<title>Documents</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body style="background-color:#ecf2f6;">
  <div class="container">
	<h2>운영 가이드 센터</h2><br/>
	  <p style="line-height: 200%;">안녕하세요. <b>CRM 운영 가이드</b> 문서입니다. 
	  본 문서를 통해 개발 및 운영상의 필요한 정보를 찾는데 도움을 드리고자 합니다. 
	  아래의 탭에서 문의 내용과 관련있는 카테고리를 클릭하여 자세한 정보를 확인해주세요. CRM에서 주 축을 이루는 객체는 총 3개로 구성되어 있으며,
	  이는 <b>"회사(Company)", "고객(Contact)", "거래(Deal)"</b> 입니다. 
	  위 세개의 객체를 뼈대 삼아 살을 붙여 나가며 오늘의 CRM의 다양한 기능과 서비스가 생겨나게 됐습니다.</p><br/>

    <ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home">개요</a></li>
	  <li><a data-toggle="tab" href="#menu1">회사 (Company)</a></li>
	  <li><a data-toggle="tab" href="#menu2">고객 (Contact)</a></li>
	  <li><a data-toggle="tab" href="#menu3">거래 (Deal)</a></li>
	 <!-- <li><a data-toggle="tab" href="#menu4">리드 (Lead)</a></li>-->
	 <!-- <li><a data-toggle="tab" href="#menu5">활동 로그</a></li>-->
	  <li><a data-toggle="tab" href="#menu6">슬랑고 (Q)</a></li>
	  <li><a data-toggle="tab" href="#menu7">API Center</a></li>
	  <li><a data-toggle="tab" href="#menu8">마이그레이션</a></li>
	</ul>
	
	<div class="tab-content">
		<div id="home" class="tab-pane fade in active">
		<h3>서비스 개요</h3><br/><p>작성자 : 이완선(Sean)</p><p>작성일 : 2019.03</p><pre style="line-height:3;">
	* <b><u>배경</u></b> : 대 고객 커뮤니케이션에서 발생되는 다양한 종류의 데이터를 효율적으로 축적 및 관리하기 위한 전사 CRM (재) 도입
	* <b><u>CRM 개발 참여자</u></b> : David(HR), Jun(LEAD), Sean(LEAD), Daniel(LEAD), Grace(HR), Preddy(SALES)
	* <b><u>TF 기간 (1차)</u></b> : 2018.12 - 2019.03
	* <b><u>TF의 미션 - Big Problem</u></b> (<a href="https://uneedcomms.atlassian.net/wiki/spaces/UNEEDCOMMS/pages/632619701/18.12.06">사전 회의록 전문</a>) :
		> 기존 CRM 툴(Hubspot)에서 정보 입력 절차가 불편하기 때문에 정보 누락이 발생
	* <b><u>해결 방안 제시</u></b> :
		> 정보 입력 편의성이 개선된 전사 CRM 재 도입 (Hubspot VS Salesforce VS 자체개발)
	* <b><u>해결 방안 선택</u></b> :
		> 자체 개발
	* <b><u>해결 방안 선택 이유</u></b> :
		> 데이터 중점 생태계 구축의 초석을 마련 => 내/외부 다양한 서비스와의 연동을 통한 생태계 구축 가능
		> 자체 DB 확보 => 자사 데이터의 효율적이고 능동적인 관리 및 분석 가능
		> 자체 개발의 성공 가능성 파악 => 프로토타입 제작 결과 긍정적 (사용 편의성 증대 가능성 확인)
		> 비용 절감 => 인프라 운영 비용(AWS - EC2, RDS, S3)만 지출
		> 향후 CRM 툴의 기능 추가 및 확장의 자유로움 (어플리케이션 단위 확장 가능)
		> 다양한 시도와 테스트가 가능한 환경 => 변화에 빠르게 대응할 수 있는 환경 마련(타 솔루션 대비 비교적)
	* <b><u>허브스팟과 세일즈포스의 탈락 이유</u></b> :
		> 비용 측면 (허브스팟 연간 비용 1,480만원, 세일즈포스 연간 비용 4,026만원) + 알파
		> 허브스팟 단점 => 느린 속도, 모바일 페이지 부재, 즉시 운영이 어려운 서비스 구조(데이터 이중 입력) 등
		> 세일즈포스 단점 => 전문가 부재, 한정적인 사용자, Sales 중점 기능만 제공 (마케팅 활용 제한), API 콜 제한 등
	* <b><u>TF 주요 업적</u></b> (<a href="https://uneedcomms.atlassian.net/wiki/spaces/UNEEDCOMMS/pages/635404303/CRM">CRM Property 정의서</a>):
		> 뼈대 객체(회사,고객, 거래) 정의, 객체별 CRUD 시점 및 시나리오 정의, 객체별 Property 정립, Property 필수값 정의 등
	* <b><u>TF의 철저한 문서화 노력</u></b> :
		> 문서 리딩만으로도 서비스 원리나 구성을 이해할 수 있도록 작성하는 것을 목적으로 진행
		> 뼈대 객체에 대한 상세 문서 제공 (상단 탭에서 Company, Contact, Deal 확인) 
		> 뼈대에 붙은 부가 객체에 대한 문서는 추후 업데이트 될 예정 (활동 로그, TO-DO 등)
		<b>본 문서는 CRM 버전 v1.0 (2019년 03월)입니다.</b></pre><br/>
	<h3>CRM 핵심 원리</h3><pre style="line-height:3;">
	* <b><u>대 고객 툴인 만큼 데이터 주요 입력은 주로 고객인 Contact을 위주로 시작</b></u>
	* <b><u>논리적 구조</b></u> (기타 자세한 내용은 뼈대 객체의 설명을 참조)
		> 신규 컨택 등록시 신규 컴퍼니 등록이 반드시 선행되는 구조
		> 신규 딜 생성시 컴퍼니와 컨택 등록이 반드시 선행되는 구조
		> 등록되지 않은 컴퍼니에 대해 컨택을 생성할 수 없는 구조
		> 등록되지 않은 고객에 대해 딜을 생성할 수 없는 구조
		> 기록 관련 데이터는 독립적인 모델로 분리하여 최대한 보수적으로 보존
 		> 기록 관련 데이터는 컴퍼니 컨택을 독립적으로 바인딩 (컴퍼니 및 컨택 삭제시에도 관련 데이터 보존)
		> 컴퍼니 객체는 모든 대 고객 데이터가 종합적으로 모이는 장소의 역할 (활동 로그, 거래 내역, TO-DO 등)
		> 기타 데이터 입력 제약 조건은 어드민 폼 필드 하단의 설명 혹은 예외에 따른 경고 메시지 확인</pre><br/>
	<h3>기본 구조</h3><pre style="line-height:3;">
	* <b><u>OS</u></b> - Ubuntu : 18.04
	* <b><u>가상화</u></b> - Docker : 18.06.1-ce
	* <b><u>웹 서버</u></b> - NGINX : 1.14.0(Ubuntu)
	* <b><u>미들웨어</u></b> - uWSGI : 2.0.17.1
	* <b><u>앱 서버</u></b> - Django : 2.1.0
	* <b><u>데이터베이스</u></b> - Postgres : 10.6

		<img style="width: 60%" alt="Server logic" src="{% static 'keepgrow/app_web_server.png' %}">

	* <b><u>추가 셋팅 내역</u></b>
		> 세션 쿠키 만료 시간 : 7200 초 (=2시간)
		> 매 요청시 세션 연장 설정
		> BASE_DOMAIN : 'http://crm.uneedcomms.net'
		> 언어 코드 : ko-kr
		> 시간 설정 : Asia/Seoul
		> 데이터베이스 Configuration : 
			- 'ENGINE' : 'django.db.backends.postgresql'
			- 'DB' : 'christopher'
			- 'USER' : 'django_curd'
		> 템플릿 Context Processors 추가 :
			- 'BACKEND' : 'django.template.backends.django.DjangoTemplates'
			- 'OPTIONS' : 'lead.context_processors.add_script_to_context'

	* <b><u>CRM 툴 전체 모델 스냅샷</u></b>(화면을 확대해서 보세요)
	자세한 모델 확인은 좌측 상단에 "문서 > 모델 > 모델 그룹" 에서 모델을 선택하면 <b>필드명</b>, <b>데이터 타입</b>, <b>입력 도움말</b> 등을 확인할 수 있습니다.

<img style="width: 100%;" alt="Model Visualization" src="{% static 'keepgrow/app_visualized.png' %}"/>
		</pre>
	</div>

	<div id="menu1" class="tab-pane fade">
		<h3>회사(Company)</h3>	
		<p><b>Company - 사업자등록증 기준</b></p><br/>
		<p>작성자 : 백연주(Grace)</p><p>작성일 : 2019.03</p>
<pre style="line-height:3;">
1. 법인명 (필수값)
	a. 작성 방법: "(주)", ".Inc", "co", "주식회사" 등을 제거한 순수 법인명 입력
	b. 유의 사항: 해당 법인명은 사업자등록증을 기반으로 함, 사업자등록증을 필수적으로 받은 후 기재
	(사업자등록증 저장 드라이브 링크: https://drive.google.com/drive/folders/1OZdJf8nLSn1t5ehE0e-Cx18aPLC9ayHw?usp=sharing)

2. 업체명 (필수값)
	a. 작성 방법: 법인명과 같은 업체명인 경우 동일하게 입력
	b. 유의 사항: 사이트에 기재된 정확한 사이트 이름을 입력 (full name)

3. 업체 주소
	a. 작성 방법: 업체의 도로명 주소 입력
	b. 유의 사항
		1) 사업자등록증과 실제 본점 주소가 동일한 경우, 사업자등록증에 적힌 주소 그대로를 입력
		2) 사업자등록증과 실제 본점 주소가 다른 경우, 실제 본점 주소를 도로명 주소에 맞추어 입력 (http://www.juso.go.kr/openIndexPage.do 참고)

4. 호스팅사 선택 (필수값)
	a. 선택 클릭: 미정 / 위사 / 가비아 / 고도몰 / 독립몰 / 메이크샵 / 후이즈몰 / 카페24
	b. 유의 사항: 위 호스팅 중 호스팅사가 없는 경우(+ 쇼핑몰 제작 전), 미정으로 선택

5. 도메인 주소
	a. 입력 방법: http:// 혹은 https:// 를 포함하는 전체 url 주소를 입력

6. 인보이스 이메일
	a. 입력 방법: 이메일 형식에 맞추어 입력
	b. 유의 사항: 반드시 해당 계산서 담당자 이메일로 입력, 담당자 변경 수시로 체크 필요!

7. 내부 담당자
	a. 선택 클릭: 담당자 가입 후 자동 등록
	b. 유의 사항: 해당 담당자는 서비스별로 변동이 있으므로 필수값 아님.</pre></div>

	<div id="menu2" class="tab-pane fade">
		<h3>고객(Contact)</h3>
		<p><b>Contact - 명함 기준</b></p><br/>
		<p>작성자 : 백연주(Grace)</p><p>작성일 : 2019.03</p>
		<pre style="line-height:3;">
1. 업체명 (필수값)
	a. 선택 방법: company에 등록된 업체와 자동 연동
	b. 유의 사항: 해당 업체가 없을 경우, 업체 즉시 등록을 통해 연동 가능

2. 부서명
	a. 입력 방법: 부서명 입력
	b. 유의 사항: 해당 담당자 명함에 적힌 부서명으로 정확히 입력

3. 이름 (필수값)
	a. 입력 방법: 성을 포함하는 모든 이름을 입력
	b. 유의 사항: 해당 담당자 명함에 적힌 이름으로 정확히 입력

4. 직책
	a. 입력 방법: 명함에 적힌 직책으로 입력
	b. 유의 사항: 해당 명함에 한글 / 영문 명 2개가 있을 경우, 한글명 우선으로 입력
	단, 영문명만 있을 경우, 영문 직함으로 입력

5. Email (필수값)
	a. 입력 방법: 이메일 형식에 맞춰 입력 (고유값)
	b. 유의 사항: 해당 담당자 명함에 적힌 e-mail로 정확히 입력

6. 휴대전화 (필수값)
	a. 입력 방법: “-” 제외한 휴대전화 번호 입력
	b. 유의 사항: 해당 담당자 명함에 적힌 휴대전화로 정확히 입력

7. 유선전화
	a. 입력 방법: “-” 제외한 유선 전화 번호 입력
	b. 유의 사항: 해당 담당자 명함에 적힌 유선전화로 입력
	c. 단, 직통번호일 경우, 입력한다.
	d. 대표전화일 경우, 입력하지 않는다.</pre></div>

	<div id="menu3" class="tab-pane fade">
		<h3>거래(Deal)</h3><br/>
		<p>작성자 : 한인섭(Preddy)</p><p>작성일 : 2019.03</p>
		<pre style="line-height:3;">
1. 신규 Deal 생성
	a. 진행중인 거래 페이지에서 우측 상단 [+Deal 추가] 클릭
	b. 입력 된 모든 Deal은 진행중인 거래 페이지에서 확인 가능

2. 거래 상세정보 입력
	a. 업체명 (필수값) : 검색을 통해 선택, 검색이 되지 않는 경우 신규 등록
	b. 구매자 (필수값) : 검색을 통해 선택, 검색이 되지 않는 경우 신규 등록
	c. 거래단계 (필수값) : 하기 Rule에 따라 구분
		- 미팅 : Deal 관련 미팅 진행 시 체크
		- 커뮤니케이션 : 결제를 위한 커뮤니케이션이 진행 중인 경우 체크
		- 결제대기 : 구매자가 구매 의사를 명확히 밝힌 경우 체크
		* 진행 중인 거래 페이지에서 거래단계 변경 가능하며 변경 후 [저장] 필수
	d. 상품 (필수값) : Deal의 대상 서비스 선택
	e. 내부담당자 (필수값) : Deal owner 선택
	f. 딜종류 (필수값) : 하기 Rule에 따라 구분하며, 재결제(정기)만 결제기간 입력
		- 신규결제 : 스마트스킨, 타겟북 iMs, 스마트앱 등 최초 거래 시 기록
		- 재결제 (정기) : iMs, 스마트이미지 등 최초 신규결제 이후 정기적인 거래 발생 시 기록
		- 재결제 (비정기) : 타겟북 등 최초 신규결제 이후 비정기적으로 거래 발생 시 기록

	g. 딜종류 (필수값) : 하기 Rule에 따라 구분하며, 재결제(정기)만 결제기간 입력
	h. 서비스금액 (필수값) : 부가세 제외 한 비용 기준이며, 타겟북은 충전하는 광고비 기준
	i. 통화 (필수값) : 거래 통화 기준
	j. 수수료율 (필수값) : 일정 수수료 발생하는 경우 입력하며 그 외 모두 “0”으로 처리
	k. 모든 입력 완료 후 하단의 [저장] or [저장 및 편집 계속] 클릭

3. 활동 로그 입력
	a. 생성된 Deal에 [전화], [메세지], [미팅] 관련 기록을 남길 필요성이 있는 경우 활동로그 활용 하여 기록
	b. 생성된 활동 로그는 Deal과 연결된 Contact, Company 활동로그 영역에서도 확인 가능

4. 결제 완료 시
	a. [2. 거래 상세정보]를 통해 입력된 Deal은 진행중인 거래 페이지에서 확인 가능
	b. 진행중인 거래 → Deal (복수)선택 → 드롭다운 박스 내 결제 완료 선택 → [실행]
	c. 결제 완료 된 정보가 잘못되었을 경우 “Sean” 에게 정정 요청

5. 결제 실패 시
	a. 진행중인 거래 → Deal (복수)선택 → 드롭다운 박스 내 결제 실패 선택 → [실행]
	b. 결제 실패 Deal의 경우 관련 사유 입력 필수

6. Deal 삭제 시 (보완 필)
	a. 진행중인 거래 → Deal (복수)선택 → drop&down 박스 내 Deal 삭제 선택 → [실행]
	b. 결제 실패 Deal을 삭제시키는 행위는 절대 지양 (결제 실패 사유를 명확히 기록해야 함)</pre>
	</div>


		<div id="menu6" class="tab-pane fade">
		<h3>Slango Update 이력 문서</h3><br/>
		<p>작성자 : 이완선(Sean)</p>
		<p>작성일 : 2019.03</p>
		<h4>iMs v2.0 ::  2019.01.31</h4>
		<pre>
		<u>데이터베이스 서버 이전</u>
		 로그 데이터수집 Django 앱 내 SQLite3 -> postgreSQL 이전
		 메타베이스 연결 - 실시간 요청 로그데이터 분석 (이용패턴 분석)

		<u>서버 이전</u>
		 Django CRM 프로젝트에 Application 단위로 편입
		 요청 내역 확인 (CRM 어드민에서 API 내역 확인 기능 추가)

		<u>문서 분리</u>
		 이 페이지는 운용 및 기능 업데이트 위주
		 기술적인 상세 내용은 Confluence로 모두 이동

		<u>구조 개선</u>
		 클래스 재정비 - 컴포넌트간 의존성 낮추는 작업 + 기능 추가를 고려한 확장성 염두
		</pre><br/>

		<h4>iMs v1.3 ::  2018.09.21</h4>

		<pre>
		<u>기능 개선</u>
		 [update] ims {ims_app_id} : 카카오 플러스친구 정보 열람기능 추가
		 [update] data {ims_app_id} user_report : 종합분석 리포트 명령어 문장 완성본 추천
		 [update] data {ims_app_id} user_report : fd_## 입력 절차 간소화 (등록된 업체한정) 기존에 fd_xxxx를 입력해야 하는 과정을 일부 없애고 결과가 바로 나올 수 있도록 수정(commands.py에 매핑 정보 저장)
		 [update] qa job_fail : 당일 발생한 작지 에러 확인 (instance_reg_date 기준 오늘자), pipeline_stage_number 기준 오름차순 정렬 추가
		 [removed] ims report : ims report0 과 ims report100 으로 세분화되어 운영
		 [add] map_{ims_app_id} : ims_app_id 를 적용한 명령어 호출기능
		 [add]ims report0 : 영업일 기준 -1일 간 발송량이 0건인 워크플로우 정보 확인
		 [add]ims report100 : 영업일 기준 -1일 간 발송량이 100건 이하인 워크플로우 정보 확인
		</pre><br/>

		<h4>iMs v1.2 :: 2018.07.01</h4>
		
		
		<pre>
		<u>Hubspot & billing center 데이터 매쉬업</u>
		 [add]ims {ims_app_id} 입력시 *ims_domains* 테이블의 'associatedcompanyid' 값을 통해 허브스팟의 컴퍼니 정보 노출
		 [add] ims {ims_app_id} 입력시 빌링센터에서 iMs 관련 최근 결제 완료 이력 3건을 가져와서 메시지 결과에 노출

		<u>업체별 & 앱/웹 별 재구매 및 재방문 열람 기능 추가</u>
		 [add] data {ims_app_id} revisit_web YEAR-MN: YEAR년 MN달 {ims_app_id} 의 웹 재방문 정보 분석
		 [add] data {ims_app_id} revisit_app YEAR-MN: YEAR년 MN달 {ims_app_id} 의 앱 재방문 정보 분석
		 [add] data {ims_app_id} repurchase_web YEAR-MN: YEAR년 MN달 {ims_app_id} 의 웹 재구매 정보 분석
		 [add] data {ims_app_id} repurchase_app YEAR-MN: YEAR년 MN달 {ims_app_id} 의 앱 재구매 정보 분석
		 [add] data {ims_app_id} ims_revisit_web YEAR-MN: YEAR년 MN달 {ims_app_id} 의 iMs 메시지 발송된 고객의 웹 재방문 정보 분석
		 [add] data {ims_app_id} ims_revisit_app YEAR-MN: YEAR년 MN달 {ims_app_id} 의 iMs 메시지 발송된 고객의 앱 재방문 정보 분석
		 [add] data {ims_app_id} ims_repurchase_web YEAR-MN: YEAR년 MN달 {ims_app_id} 의 iMs 메시지 발송된 고객의 웹 재구매 정보 분석
		 [add] data {ims_app_id} ims_repurchase_app YEAR-MN: YEAR년 MN달 {ims_app_id} 의 iMs 메시지 발송된 고객의 앱 재구매 정보 분석
		</pre><br/>

		<h4>iMs v1.1 :: 2018.05.20</h4>
		<pre>
		<u>호스팅사정보 자동 매핑 기능 추가</u>

		<u>쿼리 빌드시 iMs 이용업체의 쇼핑몰 호스팅사 정보(mk/cf/gd 등)를 판별하는기능</u>

		<u>데이터 관련 기능 및 명령어 추가</u>
		 [add] data {ims_app_id} user_report  : 특정업체 유저 관련 데이터 분석 도출
		 [add] data {ims_app_id} page_view : 특정업체 페이지 뷰 관련 데이터 분석
		 [add] data {ims_app_id} user_table : 특정업체 유저테이블 헤더정보 확인
		 [add] data {ims_app_id} user_table {입력값} : 특정업체 유저테이블 에서 {입력값} 정보 검색
		 [add] data {ims_app_id} order_table : 특정업체 주문테이블 헤더정보 확인
		 [add] data {ims_app_id} order_table {입력값} : 특정업체 주문테이블 에서 {입력값} 정보 검색
		 [add] data {ims_app_id} product_table : 특정업체 상품테이블 헤더정보 확인
		 [add] data {ims_app_id} product_table {입력값} : 특정업체 상품테이블 에서 {입력값} 정보 검색

		<u>워크플로우 발송 모니터링 기능 추가</u>
		 [add] ims report : 영업일 -1일 기준, 활성화된 워크플로우의 발송 이상을 모니터링
		
		<u>워크플로우 발송 모니터링 기능 추가</u>
		 [add] ims report : 영업일 -1일 기준, 활성화된 워크플로우의 발송 이상을 모니터링

		<u>클래스화 작업</u>
		 bot.py :: "chat_controller" 클래스 설정 -> 장고 view를 통해 받는 매 요청시 인스턴스 생성 및 처리
		 chat_controller 에서 슬랙 입력자 정보를 받아서 응답 메시지에 추가 (가령, @sean)
		 pyhive 커서 클래스화 (Que 가 걸리지 않을것을 기대, 하지만 기대와 같지 않은 결과)

		<u>System service 등록</u>
		 sudo systemctl start exec_q (시작)
		 sudo systemctl stop exec_q (종료)
		 watch -n 0.5 sudo systemctl status exec_q (모니터링)

		<u>SQLite3 를 통한 요청 히스토리 수집</u>
		 id : id [text]
		 ts : time [text]
		 user : 슬랙유저 고유 id [text]
		 text : 슬랙 명령어 카테고리 ( ims / data / qa) [text]
		 full_text : 슬랙 명령어 전체 [varchar(255)]
		 datetime : 이벤트 발생시간

		<u>예외 처리 추가</u>
		 iMs 샌더 발송 이력이 없는 고객사의 sender_log 테이블 무시
		 Division by Zero 처리
		 @Q ims report 입력시 영업일 기준 -1일 적용 (주말 제외, 공휴일 무시)
		 ims {ims_app_id} 에서 앱아이디를 일부만 입력할 시 문자열 포함여부를 확인하여 이용업체 리스트에서 ims_app_id를 찾아서 알려주는 기능 추가
		 쿼리 구문 최대한 Try - Except 를 통해 처리하도록 수정

		<u>데이터베이스 DS 쿼리 서버 이전</u>
		 http://ds-presto.samantha.world:8080
		</pre><br/>
		
		<h4>iMs v1.0 :: 2018.04.01</h4>
		<pre>
		<b>제작 환경</b>
		<u>개발 언어</u> :: 파이썬
		<u>버전</u> :: 3.5
		<u>웹서버 구성</u> :: 장고(Django version 2.0.4) 웹서버


		<u>iMs 운영관련 핵심기능 추가 및 슬랙봇의 전반적인 기반 마련</u>
		<u>대화형 챗봇</u>
		=========================| 모듈 리스트 설명 |===========================
		1. configurations :: [DB 접속 정보, 슬랙 웹훅 정보, 허브스팟 API 정보]
		2. bot :: 장고의 view에서 텍스트를 받아서 처리하는 컨트롤러. 아래 모든 모델들 관장
		3. comments :: 슬랙에 보여지는 주요 문구들 관리
		4. len_1 :: 입력 요소 값이 1개에 해당하는 모든 경우를 관장하는 모델
		5. ims :: 입력 요소 값이 2개 이상이며, iMs 서비스 운영과 관련된 데이터 열람 모델
		6. data :: 입력 요소 값이 2개 이상이며, iMs 서비스와 관련된 데이터 열람 모델
		7. qa :: 입력 요소 값이 2개 이상이며, iMs의 Qaulity Assurance 체크 모델

		<u>[Q 소개]</u> :: @Q whoru

		안녕하세요! 제 이름은 'Q(큐)'' 에요!
		Q 모양이 마치 무엇인가를 찾는 돋보기 모양 같지요?

		저는 데이터에 대한 내부적 수요가 빠르게 증가함에 따라
		지난 3월, iMs 운영팀과 RE팀의 도움으로 태어나게 됐어요!

		전 이제 갓 태어났어요.. 그래서 여러분들의 많은 도움이 필요하답니다^^
		그래도 벌써 할 줄 아는게 꽤 있어요! @Q map를 입력하면 제가 뭘 할 수 있는지 알려드릴게요!

		제게 물어볼 것이 있다면 언제든 '@Q' 와 함께 문의 사항을 입력해 주세요.
		여러분을 위해 저는 항상 깨어 있어요!
		
		<u>도메인 유효성</u>

		<u>자동 매핑 기능 추가</u>

		<u>iMs 운영관련 기능 및 명령어 추가</u>
		 ims hosting : iMs 이용업체 쇼핑몰 CMS 정보 확인 (카페/메이크샵/고도몰/그 외)
		 ims active : iMs 활성 계정 확인
		 ims inactive : iMs 비활성 계정 확인
		 ims {ims_app_id} : iMs 이용업체 상세 정보 확인
		 ims workflow_active : 워크플로우를 운영중인 업체 목록 및 업체 수
		 ims workflow_inactive : 워크플로우를 운영하지 않는 업체 목록 및 업체 수
		 ims {ims_app_id} workflow : 특정업체의 활성 & 비활성 워크플로우 정보
		 ims {ims_app_id} workflow_active : 특정업체의 활성 워크플로우 정보
		 ims {ims_app_id} workflow_inactive : 특정업체의 비활성 워크플로우 정보
		 ims {ims_app_id} workflow {workflow_idx} sender : 특정업체 idx번 워크플로우 정보 확인
		 ims {ims_app_id} workflow sent : 지난 7일간 특정업체 워크플로우 전체 메시지 발송량 확인
		 ims {ims_app_id} workflow {workflow_idx} sent : 특정업체 idx번 워크플로우의 메시지 발송량 확인
		</pre>
		</div>

		<div id="menu7" class="tab-pane fade">
	        <h3>API 센터</h3><br/>
		    <p>작성자 : 이완선(Sean)</p>
            <p>작성일 : 2019.03</p>
				<h3>API 개요</h3>
					<p>
						CRM API는 CRM툴의 기능을 내부 개발자가 쉽게 이용할 수 있게 웹 형태로 공개되었습니다.
						CRM API로 활용할 수 있는 기능에는 Lead Form API, Contact 정보 조회, 티켓(혹은 TODO) 등록,
						거래 등록 등 각종 객체들의 CRUD(일부 객체의 CRUD는 제한될 수 있습니다.)가 가능합니다.
					</p><br/>
				<h3>API 방식</h3>
					<p>
						CRM API는 비로그인 방식 OAuth 1.0 형식을 이용하고 있습니다.
						API 키는 반드시 본인의 계정에 맞춰 발급해야 하며, 1 계정당 하나의 API키 발급을 원칙으로 합니다.
						또한 API 사용시에는 본인 계정으로 생성된 API 만 사용해 주시기 바랍니다. (예고 없이 삭제될 수 있습니다.)
					</p><br/>
				<h3>API Key 발급</h3>
					<p>
						<b>API 키 발급 방법 : </b><br/>
							&emsp;1. 좌측 메뉴의 “SETTING” 코너에서 "API 키 관리” 메뉴 선택<br/>
							&emsp;2. 페이지 내 우측 상단에 “api key 추가” 버튼 클릭<br/>
							&emsp;3. 발급 대상 필드에서 자신의 아이디를 찾아 선택한 후 “저장” 버튼 클릭<br/>
							&emsp;4. 테이블 리스트에서 자신의 아이디 앞으로 발급된 API 키를 확인<br/>
					</p><br/>
				<h3>API Key 사용 방법</h3>
					<p>
						<b>API Key 형식 :</b><br/>
							&emsp;기본 : /api/v1/{model_function_value}/?username={user}&api_key={api_key}<br/>
							&emsp;추가 : '&format={ json | xml }', '&limit={0-n}'
					</p><br/>

				<h3>1. 슬랑고 대화 요청 이력 API</h3>
					<p>
						<b>요청 URL</b>
							http://13.125.33.193/api/v1/slango/?username={user}&api_key={api_key}<br/>
						<b>메소드</b>
							POST / GET<br/>
						<b>응답형식</b>
							JSON<br/>
					</p><br/>

					http://13.125.33.193/api/v1/lead/?username=sean&api_key=2458fab2a51886b8341ac709e579dd35417a205e
				</p>
			</div>


			<div id="menu8" class="tab-pane fade">
			  <h3>마이그레이션</h3><br/>
				<p>작성자: 다니엘</p>
				<p>작성일 : 2019.03</p>
				<p><strong>목적 </strong></p>
				<p><strong>: <a href="http://crm.uneedcomms.net/uneedadmin/">유니드CRM</a>에서 기존에 보유하고 있던 
							수많은 CRM 관련 데이터 중에서 식별불가능 / 불필요한 데이터를 제거하고 정재하여 활용가능한 
							&ldquo;고객&rdquo; 데이터만으로 CRM을 구축, 앞으로의 고객관리 및 마케팅 활동에 사용하는 
							기반이 될 데이터를 승계/확보하기 위함</strong></p><p>&nbsp;</p>
				<p><strong>작업내용 </strong></p>
				<p><strong>: 기존 사용중이었던 CRM인 <a href="https://www.hubspot.com/">허브스팟</a> 에서 작업진행시점인 
							2019년 2월 19일까지의 수집/등록된 데이터를 유니드CRM으로 데이터 마이그레이션 작업을 진행</strong></p><p>&nbsp;</p>
				  <hr style="border: solid 1px gray;"><br/>
				<p><h3><strong>Company (<a href="https://docs.google.com/spreadsheets/d/1kH1dqeKpGTFLPx4hMBFcOq4GXE66ONstbYEsZWaHfDI/edit#gid=401036080">원본>시트</a>)</strong></h3></p>
				<p><strong>해당 객체의 Key 값 회사도메인</strong></p><p>&nbsp;</p>
				<p><strong>마이그레이션 조건</strong></p>
				<ol>
				  <li>
				    <p>
					  <strong>
						유니드CRM에서 필수값으로 정의한 법인명 / 회사명 / 도메인주소의 데이터항목들에 
						대해서 누락이 없는 데이터는 유지함
					  </strong>
					</p>
				  </li>
				  <li>
					<p>
					  <strong>Company owner가 없는 경우 관리가 되지 않는 것으로 간주하여 별도 분류 후 활성 고객사에 대해 식별, 
								누락된 정보를 수정하여 유지하고 나머지는 삭제</strong>
					</p>
				  </li>
				</ol>
				&emsp;&emsp;<p><strong>Company onwer란? 해당 Company를 관리하는 유니드컴즈의 직원을 말합니다.</strong></p>
				&emsp;&emsp;<p><strong>이번 유니드CRM 1.0에서는 기존에 담당관리자가 배정되지 
									않을 정도의 비관리 대상은 제외처리 하였습니다.</strong></p>
				<ol start="3">
				  <li>
					<p><strong>회사명이 관계없거나, 식별할 수 없는 영문이거나 의 경우 삭제</strong></p>
				  </li>
				  <li>
					<p><strong>고객 카테고리로 분류가 되지 않는 투자사, 호스팅사, 경쟁사의 경우 삭제</strong></p>
				  </li>
				</ol><p>&nbsp;</p>
				<p><strong><a href="https://docs.google.com/spreadsheets/d/1kH1dqeKpGTFLPx4hMBFcOq4GXE66ONstbYEsZWaHfDI/edit#gid=262155594">마이그레이션_작업>완료 시트</a></strong></p><p><br />&nbsp;</p>

					<hr style="border: solid 1px gray;"><br/>

				<p><h3><strong>Contact (<a href="https://docs.google.com/spreadsheets/d/1kH1dqeKpGTFLPx4hMBFcOq4GXE66ONstbYEsZWaHfDI/edit#gid=999547185">원본>시트</a>) </strong></h3></p>

				<p><strong>해당 객체의 Key 값 : 이메일과 전화번호</strong></p><p>&nbsp;</p>
				<p><strong>마이그레이션 조건</strong></p>
				<ol>
				  <li>
					<p><strong>이름 / 이메일 / 전화번호 중 하나라도 없으면 식별이 불가하다고 판단하여 삭제</strong></p>
				  </li>
				  <li>
					<p><strong>허브스팟의 데이터 기준으로 Associated comapny 없으면 삭제</strong></p>
				  </li>
				</ol>
				<p><strong>Associated comapny란? 해당 Contact이 소속되어 있는 회사를 말합니다. </strong></p>
				<p><strong>이번 유니드CRM 1.0에서는 회사에 소속되지 않은 Contact는 
						존재할 수 없는 것으로 정의하였기에 모두 삭제처리 하였으며 향 후 리드 관리 >및 컨택에 대한 
						별도 관리 공간이 생성될 경우, 보유한 원본시트의 데이터에서 추가 마이그레이션을 할 수 있습니다.</strong></p>
				<ol start="3">
				  <li>
				    <p><strong>핸드폰번호 영역에 핸드폰이 아닌 다른 값이 있을 경우 모두 삭제</strong></p>
				  </li>
				</ol>
				<p><strong>핸드폰 양식에 대한 통일 (예, 010XXXXXXXX)</strong></p>
				<p>&nbsp;</p>
				<p><strong><a href="https://docs.google.com/spreadsheets/d/1kH1dqeKpGTFLPx4hMBFcOq4GXE66ONstbYEsZWaHfDI/edit#gid=272589063">마이그레이션_작업완료 시트</a></strong></p>
				<p>&nbsp;</p>
				<ul>
					<li>
						<p><strong>1차 마이그레이션 이후 Contact 관련 추가작업</strong></p>
					</li>
				</ul>

				<p><strong>: 기존 허브스팟에서 복수개의 연락처 (핸드폰번호)가 등록되어 있는 경우가 있어서<br />
				총 535개의 중복 연락처에 대한 <a href="https://docs.google.com/spreadsheets/d/1d-c8Wwxt9uF26N9qDCCJzDCI5s-iJJXeN9B5j%205oS8OA/edit#gid=1284345243">중복 제거</a>작업을 추가로 진행하였음</strong></p>
				<ul>
					<li>
						<p><strong>4개의 연락처 중복 : 9 컨택</strong></p>
					</li>
					<li>
						<p><strong>3개의 연락처 중복 : 55 컨택</strong></p>
					</li>
					<li>
						<p><strong>2개의 연락처 중복 : 471 컨택</strong></p>
					</li>
				</ul><p><br />&nbsp;</p>
				
				<hr style="border: solid 1px gray;"><br/>

			<p><h3><strong>Deal</strong></h3></p>
			  <ol>
			    <li>
			      <p><strong>기존 허브스팟으로부터 별도의 마이그레이션을 진행하지 않았음</strong></p>
			    </li>
			    <li>
			      <p><strong>단, 회계년도의 시작시점인 2019년 1월 1일부터 세일즈 성공이 된 딜에 대해서는 
						빌링센터 기준으로 마이그레이션 예정</strong></p>
		        </li>
		      </ol><p>&nbsp;</p>
		    </div>
			




		<div id="menu2" class="tab-pane fade">
		  <h3>Company</h3>
		  <p>Contact 준비중입니다.</p>
		</div>

		<div id="menu3" class="tab-pane fade">
		  <h3>Contact</h3>
		  <p>Form 준비중입니다.</p>
		  <p><img style="width: 100%;" alt="Image description" src="{% static 'keepgrow/app_visualized.png' %}"/></p>
		</div>

		<div id="menu4" class="tab-pane fade">
		  <h3>Form</h3>
		  <p>Form 준비중입니다.</p>
		  <p><img style="width: 100%;" alt="Image description" src="{% static 'keepgrow/app_visualized.png' %}"/></p>
	  </div>
    </div>
  </div>
</body>

{% endblock %}

