{% extends "admin/base_site.html" %}
{% load staticfiles %}
{% block content %}
<div>
<font size="5"><b>Google 캘린더</b></font>
</div>
<div>
<font size="3"><b>@uneedcomms.com 계정에 로그인 된 상태에서 이용가능합니다.</b></font>
</div>
<br />
<div>
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=3s9jhnk475h3n9el51i53segt0%40group.calendar.google.com&amp;color=%23333333&amp;src=aq5ub3kclof4i7t10icfm5r6u4%40group.calendar.google.com&amp;color=%2323164E&amp;src=uneedcomms.com_ughr6mfgrd5jtuu9n7lvh697is%40group.calendar.google.com&amp;color=%2342104A&amp;src=uneedcomms.com_j1q53o66hl3jgb43kb99pmakek%40group.calendar.google.com&amp;color=%23333333&amp;src=qjied18kpqgg2q0nrtvs55s8p8%40group.calendar.google.com&amp;color=%2342104A&amp;src=uneedcomms.com_l6vs92mo08r0ls55qt7egtq4c4%40group.calendar.google.com&amp;color=%230F4B38&amp;src=uneedcomms.com_5765porchktphknrcbe60lr7n8%40group.calendar.google.com&amp;color=%23B1365F&amp;src=pfn1mrr6uv89lpb6rm2jr9e1jk%40group.calendar.google.com&amp;color=%235229A3&amp;src=alkfh1vr0dbg75ekr454f8eujo%40group.calendar.google.com&amp;color=%235229A3&amp;src=uneedcomms.com_5jjv58mkd2j52d8gaj5sq3pi14%40group.calendar.google.com&amp;color=%23B1440E&amp;src=uneedcomms.com_n853g8g7aubjt6o7i2sg0nt5us%40group.calendar.google.com&amp;color=%2323164E&amp;src=uneedcomms.com_fa15m1u96nhbv7uf19k0pfpr18%40group.calendar.google.com&amp;color=%238C500B&amp;src=uneedcomms.com_gbghsg75mo3k72hqg1a8u543mo%40group.calendar.google.com&amp;color=%238C500B&amp;src=uneedcomms.com_8m3kt2lu6i8qrlhmv658drt5v4%40group.calendar.google.com&amp;color=%235229A3&amp;src=uneedcomms.com_97smdqvmss7uqmivl4vh422rck%40group.calendar.google.com&amp;color=%23711616&amp;src=uneedcomms.com_44oe81d4b1aj2ragk7e40h6fgc%40group.calendar.google.com&amp;color=%23853104&amp;src=7c8grnjt9sntiosnefomdv8h38%40group.calendar.google.com&amp;color=%238C500B&amp;src=8ebokadfu9f8b2sco6qshu29n8%40group.calendar.google.com&amp;color=%235229A3&amp;src=j4tsvloke1atfgg94pp5i5fua4%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=Asia%2FSeoul" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}

