{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KeepGrow</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "keepgrow/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="{% static "keepgrow/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static "keepgrow/css/coming-soon.min.css" %}" rel="stylesheet">

</head>

<body>

  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static "keepgrow/mp4/bg.mp4" %}" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">Coming Soon!</h1>
            <p class="mb-5">We're working hard to finish the development of this site. Our target launch date is
              <strong>March 2019</strong>! Sign up for updates using the form below!</p>
			<p class="mb-5">안녕하세요. 현재 KeepGrow의 웹사이트가 개발중에 있습니다. 2019년 3월, 새로운 모습으로 찾아뵙겠습니다.</p>
<!--            <div class="input-group input-group-newsletter">
              <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Notify Me!</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.facebook.com/uneedcomms/">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.facebook.com/uneedcomms/">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "keepgrow/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "keepgrow/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static "keepgrow/js/coming-soon.min.js" %}"></script>

</body>
</html>

