{% load static %}
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}{% endblock title %} | KeepGrow</title>
	</head>

	<body>
		<div>{% block content %}{% endblock content %}</div>
		
    <!--
        _..._
      .'     '.      _   Common Scripting Area Managed BY UNEEDCOMMS
     /    .-""-\   _/ \  
   .-|   /:.   |  |   |      COME FROM THE FUTURE, UNEEDCOMMS
   |  \  |:.   /.-'-./
   | .-'-;:__.'    =/
   .'=*=|HELLO _.='
  /   _.  |    ;
 ;-.-'|    \   |
/   | \    _\  _\
\__/'._;.  ==' ==\
         \    \   |
         /    /   /
         /-._/-._/
         \   `\  \
          `-._/._/
	-->

		{% autoescape off %}
			{% for script in scripts %}
				{% if script.script_expose == True %}
					<!--{{ script.script_title }} | Dynamic Scripting By UNEEDCOMMS-->
					{{ script.script_body }}
					<!-- End Of {{ script.script_title }} | Dynamic Scripting By UNEEDCOMMS-->
				{% endif %}
			{% endfor %}
		{% endautoescape %}
	</body>
</html>
